*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    color: #020202;
    background-color: #EEF8F0;
}

.container {
    max-width: 1738px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-size: 64px;
    font-weight: 500;
    line-height: 77px;
    color: #020202;
    text-align: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-top: 23px;
}
.header__menu-items {
    display: flex;
}
.header__menu-list + .header__menu-list {
    margin-left: 97px;
}
.header__search {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__search-text {
    margin-right: 20px;
}
.header__burger-btn {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #00873E;
    left: 5px;
    top: 20px;
    transition: transform .5s, opacity .5s;
}
.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}
.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.heal {
    position: relative;
    height: calc(100vh - 158px);
    margin-top: 60px;
    
}
.heal::after {
    content: '';
    background-image: url(../images/heal-bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 1079px;
    height: calc(100vh - 158px);
    right: 0;
    top: 96px;
    z-index: -1;
}
.heal__inner {
    position: relative;
    padding-top: 210px;
    padding-left: 130px;
}
.heal__inner::before {
    content: '';
    background-image: url(../images/heal-bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 704px;
    height: 655px;
    position: absolute;
    top: -40px;
    left: -160px;
    z-index: -1;
}
.heal__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 144px;
}
.heal__subtitle {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 43px;
}
.heal__text {
    max-width: 423px;
    margin-bottom: 82px;
}
.heal__link {
    display: inline-block;
    background-color: #00873E;
    color: #EEF8F0;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    max-width: 263px;
    border-radius: 24px;
    text-align: center;
    padding: 13px;
    box-shadow: inset -6px -4px 20px rgba(0, 0, 0, 0.25);
}

.about {
    background-image: url(../images/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: calc(96px + 58px);
}
.about__texts {
    max-width: 1470px;
    margin: 100px auto 0;
}

.about__text-one {
    max-width: 709px;
    margin-left: 195px;
    margin-bottom: 80px;
}
.about__text-two {
    max-width: 894px;
    margin-left: 325px;
    margin-bottom: 80px;
}
.about__text-three {
    max-width: 985px;
    margin-left: 491px;
}



@media (max-width: 1540px) {
    .header__menu {
        font-size: 18px;
    }
    .header__menu-list + .header__menu-list {
        margin-left: 65px;
    }

    .heal::after {
        display: none;
    }
    .heal__inner {
        padding-top: 85px;
        padding-left: 0;
        text-align: center;
    }
    .heal__inner::before {
        background-image: url(../images/heal-bg1.2.svg);
        height: 712px;
    }
    .heal__title {
        position: relative;
    }
    .heal__title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 688px;
        height: 3px;
        background-image: url(../images/line.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .heal__subtitle {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .heal__text {
        margin: 0 auto 65px;
        font-size: 18px;
    }
    .heal__link {
        font-size: 25px;
        border-radius: 30px;
        max-width: 390px;
        width: 100%;
    }
}



@media (max-width: 900px) {
    .header__menu {
        font-size: 16px;
    }
    .header__menu-list + .header__menu-list {
        margin-left: 40px;
    }

    .heal__inner::before {
        height: calc(100vh - 20px);
    }
    .heal__title {
        font-size: 75px;
        line-height: 115px;
    }
    .heal__subtitle {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .heal__text {
        font-size: 16px;
        line-height: 21px;
        margin: 0 auto 50px;
    }    
}



@media (max-width: 768px) {
    .header__burger-btn {
        display: block;
    }
    .header__menu-items {
        position: absolute;
        left: 0;
        top: -100vh;
        background: #E2F2E7;
        display: block;
        padding: 20px;
        width: 100%;
        height: 100vh;
        transition: transform .5s;
    }
    .header__menu-list + .header__menu-list {
        margin-left: 0;
    }
    .header__menu-list a {
        display: block;
        padding: 10px 0;
    }

    .header.open .header__menu-items {
        transform: translateY(100vh);
    }
}